# Bring in performance ratios for 90 days leading to ticket_creation_date

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import mysql.connector
import pandas.io.sql as psql
from mysql.connector import errorcode
from datetime import datetime

In [6]:
try:
 conn = mysql.connector.connect(user='tgreen', password='3.1415Resolve',
                              host='resolv2-prod-db.cjpsepzc9py6.us-east-1.rds.amazonaws.com')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)

In [7]:
cur = conn.cursor()

In [22]:
query = '''SELECT 
  tara.Zendesk_Tickets.Ticket_Id
, tara.Zendesk_Tickets.Asset_Id
, tara.Zendesk_Tickets.Root_Cause
, tara.Zendesk_Tickets.Ticket_Status
, tara.Zendesk_Tickets.Ticket_Creation_Reason
, tara.Zendesk_Tickets.Ticket_Origin
, tara.Zendesk_Tickets.Service_Type
, tara.Zendesk_Tickets.Service_Partner
, tara.Zendesk_Tickets.Date_Ticket_Initially_Assigned
, tara.Zendesk_Tickets.Date_Ticket_Closed
, omnidian.asset_health_daily.health_status
, omnidian.asset_health_daily.date AS health_date
, omnidian.asset_health_daily.modified
FROM tara.Zendesk_Tickets
LEFT JOIN
omnidian.asset_health_daily 
ON tara.Zendesk_Tickets.Asset_Id = omnidian.asset_health_daily.asset_id
AND omnidian.asset_health_daily.date 
BETWEEN DATE_SUB(tara.Zendesk_Tickets.Date_Ticket_Created,
INTERVAL 90 DAY) AND tara.Zendesk_Tickets.Date_Ticket_Created
WHERE tara.Zendesk_Tickets.Date_Ticket_Created > '2018-04-01'
AND Zendesk_Tickets.Ticket_Status = 'Closed'
AND Zendesk_Tickets.Service_Partner <> 'Omnidian Support Team'
AND Zendesk_Tickets.Root_Cause <> 'unassigned'
;'''

In [23]:
df_time101 = pd.read_sql(query, con=conn)
df_time101.head()

,Ticket_Id,Asset_Id,Root_Cause,Ticket_Status,Ticket_Creation_Reason,Ticket_Origin,Service_Type,Service_Partner,Date_Ticket_Initially_Assigned,Date_Ticket_Closed,health_status,health_date,modified
0,23947,101112604,root_cause_normal_wear_and_tear,Closed,communication offline,origin_omnidian_customer,Field Service,SunUp STS Service Team,2018-10-22 17:25:27,2018-11-29,Healthy,2018-07-21,2019-01-02 22:36:05
1,23947,101112604,root_cause_normal_wear_and_tear,Closed,communication offline,origin_omnidian_customer,Field Service,SunUp STS Service Team,2018-10-22 17:25:27,2018-11-29,Healthy,2018-07-22,2019-01-02 22:36:05
2,23947,101112604,root_cause_normal_wear_and_tear,Closed,communication offline,origin_omnidian_customer,Field Service,SunUp STS Service Team,2018-10-22 17:25:27,2018-11-29,Healthy,2018-07-23,2019-01-02 22:36:05
3,23947,101112604,root_cause_normal_wear_and_tear,Closed,communication offline,origin_omnidian_customer,Field Service,SunUp STS Service Team,2018-10-22 17:25:27,2018-11-29,Healthy,2018-07-24,2019-01-02 22:36:05
4,23947,101112604,root_cause_normal_wear_and_tear,Closed,communication offline,origin_omnidian_customer,Field Service,SunUp STS Service Team,2018-10-22 17:25:27,2018-11-29,Healthy,2018-07-25,2019-01-02 22:36:05

In [19]:
df_time101.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35314 entries, 0 to 35313
Data columns (total 10 columns):
Ticket_Id                         35314 non-null int64
Asset_Id                          35314 non-null object
Root_Cause                        35314 non-null object
Ticket_Status                     35314 non-null object
Ticket_Creation_Reason            35314 non-null object
Ticket_Origin                     35314 non-null object
Service_Type                      35314 non-null object
Service_Partner                   35314 non-null object
Date_Ticket_Initially_Assigned    35314 non-null datetime64[ns]
Date_Ticket_Closed                35314 non-null object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 2.7+ MB

In [16]:
df_time101.isnull().sum()

Ticket_Id                         0
Asset_Id                          0
Root_Cause                        0
Ticket_Status                     0
Ticket_Creation_Reason            0
Ticket_Origin                     0
Service_Type                      0
Service_Partner                   0
Date_Ticket_Initially_Assigned    0
Date_Ticket_Closed                0
dtype: int64

In [18]:
df_time101.isna().sum()

Ticket_Id                         0
Asset_Id                          0
Root_Cause                        0
Ticket_Status                     0
Ticket_Creation_Reason            0
Ticket_Origin                     0
Service_Type                      0
Service_Partner                   0
Date_Ticket_Initially_Assigned    0
Date_Ticket_Closed                0
dtype: int64

In [25]:
df_time101 = df_time101.drop_duplicates(inplace=True)
df_time101.info()

AttributeError: 'NoneType' object has no attribute 'drop_duplicates'